<!doctype html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title layout:title-pattern="$CONTENT_TITLE | AdminLTE 4 + Spring Boot">AdminLTE 4 + Spring Boot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" th:href="@{/webjars/adminlte/assets/img/AdminLTELogo.png}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/source-sans-3/index.css}" media="print" onload="this.media='all'"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/adminlte/css/adminlte.min.css}"/>
    <th:block layout:fragment="page-styles"></th:block>
</head>
<body th:class="${bodyClass ?: 'bg-body-secondary'}">

<th:block layout:fragment="main-content">
    <p>Blank layout default content.</p>
</th:block>

<script th:src="@{/webjars/popperjs__core/dist/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/adminlte/js/adminlte.min.js}"></script>

<th:block layout:fragment="page-scripts"></th:block>
</body>
</html>
